<form class="ui form segment">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label>Title:</label>
    <input name="title" #newtitle>
  </div>

  <div class="field">
    <label>Link:</label>
    <input name="link" #newlink>
  </div>

  <button (click)="addArticle(newtitle, newlink)"  class="ui positive button">
    Submit this link
  </button>

</form>

<div>
  <app-article
    *ngFor = "let oneArticle of sortedArticles()"
    [article] = "oneArticle">
  </app-article>
</div>
